$dark: #090938;;
$gray: #8b8899;
$cerise: #d92396;
$amour: #faedf3;
$remy: #feebf3;
$royalBlue: #4c69d7;
$titanWhite: #F3F4FF;
$whisper: #EBE9F3;
$decoFont: 'Vollkorn', serif;
$mainFont: 'Montserrat', sans-serif;