$dark: #090938;;
$gray: #8b8899;
$osloGray: #969A9A;
$cerise: #d92396;
$amour: #faedf3;
$remy: #feebf3;
$royalBlue: #4c69d7;
$titanWhite: #F3F4FF;
$whisper: #EBE9F3;
$bgColor: linear-gradient(to bottom, rgba(250, 250, 255, 0.63), #ffffff);
$decoFont: 'Vollkorn', serif;
$mainFont: 'Montserrat', sans-serif;