@import 'variables';
@import 'mixins';

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $titanWhite;
}

// HEADER
.header {
    width: 100%;
    position: fixed;
    height: 90px;
    top: 0;
    z-index: 100;
    &__holder {
        padding: 24px 30px 29px;
        display: flex;
        justify-content: space-between;
        position: relative;
        background-color: #fff;
        z-index: 300;
        box-shadow: 0px 0px 14px -3px #000;
        @include responsive(1024px)
        {
            box-shadow: 0px 0px 0px 0px #000;
            border-bottom: 1px solid $whisper;
        }
        &__leftBlock {
            display: flex;
            .logoBlock {
                img {
                    width: 120px;
                    height: 29px;
                }
            }
            .navigationBlock {
                margin-left: 46px;
                margin-top: 8px;
                @include responsive(1024px)
                {
                    display: none;
                }
                .navigationList {
                    display: flex;
                    &--item {
                        font-family: $mainFont;
                        font-size: 16px;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.88;
                        letter-spacing: normal;
                        color: $gray;
                        padding: 0 10px;
                        margin: 0 10px;
                        cursor: pointer;
                        transition: all 0.5s ease;
                        &:first-child {
                            padding-left: 0;
                            margin-left: 0;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                        &:hover {
                            color: $cerise;
                        }
                    }
                }
            }
        }
        &__rightBlock {
            display: flex;
            .telegramLink {
                width: 45px;
                height: 45px;
                border: solid 1px $cerise;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                img {
                    transform: scale(1);
                    transition: all 0.5s ease;
                }
                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
                @include responsive(1024px)
                {
                    display: none;
                }
            }
            .whitepapperLink {
                width: 120px;
                height: 45px;
                border-radius: 2px;
                border: solid 1px $cerise;
                background-color: #fff;
                font-family: $mainFont;
                font-size: 14px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.14;
                letter-spacing: normal;
                color: $cerise;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.5s ease;
                &:hover {
                    background-color: $cerise;
                    color: #fff;
                }
                @include responsive(1024px)
                {
                    display: none;
                }
            }
            .menuToggle {
                display: none;
                position: relative;
                width: 24px;
                height: 21px;
                padding: 18px 22px;
                cursor: pointer;
                @include responsive(1024px)
                {
                    display: block;
                }
                .nav-icon {
                    display: block;
                    width: 24px;
                    height: 21px;
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: all .5s ease-in-out;
                    -moz-transition: all .5s ease-in-out;
                    -o-transition: all .5s ease-in-out;
                    transition: all .5s ease-in-out;
                    cursor: pointer;
                    z-index: 50;
                }
                .nav-icon.open {
                    width: 20px;
                    height: 20px;
                }
                .nav-icon span {
                    background-color: $dark;
                    height: 3px;
                    width: 100%;
                    position: absolute;
                    transition: all 0.4s ease;
                }
                .nav-icon span:nth-child(1) {
                    top: 0px;
                    -webkit-transform-origin: right center;
                    -moz-transform-origin: right center;
                    -o-transform-origin: right center;
                    transform-origin: right center;
                }
                .nav-icon span:nth-child(2) {
                    top: 8px;
                    -webkit-transform-origin: right center;
                    -moz-transform-origin: right center;
                    -o-transform-origin: right center;
                    transform-origin: right center;
                }
                .nav-icon span:nth-child(3) {
                    top: 16px;
                    -webkit-transform-origin: right center;
                    -moz-transform-origin: right center;
                    -o-transform-origin: right center;
                    transform-origin: right center;
                }
                .nav-icon.open span:nth-child(1) {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    top: 0px;
                    left: 0px;
                    background: $dark;
                    width: 25px;
                }
                .nav-icon.open span:nth-child(2) {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    top: 18px;
                    left: 0px;
                    background: $dark;
                    width: 25px;
                }
                .nav-icon.open span:nth-child(3) {
                    width: 0%;
                    opacity: 0;
                    background: $dark;
                }
            }
        }
    }
    .navWrapper {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        min-height: 100%;
        height: 100vh;
        transform: translateY(-100%);
        transition: ease 1s;
        .navDecoHolder {
            .deco1 {
                width: 50px;
                height: 51px;
                background-color: rgba(249, 230, 239, 0.7);
                position: absolute;
                left: 8.4635%;
                top: 35.2864%;
            }
            .deco2 {
                background-color: $titanWhite;
                width: 19px;
                height: 19px;
                position: absolute;
                left: 20.3125%;
                bottom: 46.6145%;
            }
            .deco3 {
                width: 22px;
                height: 22px;
                background-color: rgba(249, 230, 239, 0.7);
                position: absolute;
                right: 13.2812%;
                bottom: 26.3020%;
            }
        }
        .navHolder {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 189px 14.843% 50px;
            .navList {
                &--item {
                    font-family: $mainFont;
                    font-size: 32px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 0.94;
                    letter-spacing: normal;
                    text-align: center;
                    color: $gray;
                    padding:  10px 0;
                    margin-bottom: 34px;
                    &:first-child {
                        padding-top: 0;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .linkBlock {
                width: 100%;
                display: flex;
                margin-top: auto;
                &--itemHolder {
                    width: 50%;
                    &:nth-child(odd)
                    {
                        padding-right: 15px;
                    }
                    &:nth-child(even)
                    {
                        padding-left: 15px;
                    }
                    .link {
                        height: 60px;
                        border: solid 1px $cerise;
                        font-family: $mainFont;
                        font-size: 18px;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.67;
                        letter-spacing: normal;
                        color: $cerise;
                        background-color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span {
                            margin-left: 14px;
                        }
                    }
                }
            }
        }
    }
    .navWrapper.active {
        transform: translateY(0%);
    }
}


// INTRO SECTION
.introSection {
    width: 100%;
    background-image: $bgColor;
    &__holder {
        width: 100%;
        padding: 197px 9.305555% 127px;
        display: flex;
        &__leftBlock {
            width: 40%;
            height: 100%;
            padding-top: 53px;
            padding-bottom: 60px;
            position: relative;
            .decoHolder {
                .deco1 {
                    width: 42px;
                    height: 43px;
                    background-color: $titanWhite;
                    position: absolute;
                    right: 8%;
                    top: 30%;
                }
                .deco2 {
                    width: 18px;
                    height: 19px;
                    background-color: $amour;
                    position: absolute;
                    position: absolute;
                    left: -10%;
                    bottom: 0%;
                    z-index: 0;
                }
            }
            .title {
                font-family: $decoFont;
                font-size: 54px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.19;
                letter-spacing: normal;
                color: $dark;
                margin-bottom: 20px;
                position: relative;
                z-index: 1;
                &::before {
                    content: '';
                    width: 82px;
                    height: 84px;
                    background-color: rgba(249, 230, 239, 0.7);
                    position: absolute;
                    left: -7%;
                    top: -20%;
                    z-index: -1;
                }
            }
            .afterTitle {
                font-family: $mainFont;
                font-size: 20px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: $gray;
                margin-bottom: 50px;
            }
            .subscribeHolder {
                &__block {
                    width: 100%;
                    position: relative;
                    display: flex;
                    .subscribeInput {
                        font-family: $mainFont;
                        font-size: 16px;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.88;
                        letter-spacing: normal;
                        color: $osloGray;
                        width: 66.2845%;
                        height: 52px;
                        border-radius: 2px;
                        background-color: #ffffff;
                        border: solid 1px #dedce8;
                        border-right: none;
                        padding-left: 48px;
                        background: url(../images/email-gray.svg) no-repeat 17px;
                    }
                    .subscribeBtn {
                        width: 33.7155%;
                        height: 52px;
                        border-radius: 2px;
                        background-color: $cerise;
                        font-family: $mainFont;
                        border: solid 1px $cerise;
                        font-size: 16px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: center;
                        color: #ffffff;
                        transition: all 0.3s ease;
                        cursor: pointer;
                        &:hover {
                            color: $cerise;
                            background-color: #fff;
                        }
                    }
                    
                }
            }
        }
        &__rightBlock {
            width: 60%;
            padding-left: 4.3055%;
            img {
                width: 100%;
            }
        }
    }
    &__parthnerHolder {
        width: 100%;
        padding: 49px 9.305555%;
        border-bottom: 1px solid $whisper;
        border-top: 1px solid $whisper;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        &--item {
             width: 15%;
            img {
                width: 100%;
            }
        }
    }
    &__historyHolder {
        width: 100%;
        padding: 120px 9.305555% 127px;
        display: flex;
        &__leftBlock {
            width: 50%;
            padding-right: 7%;
            .videoBlock {
                position: relative;
                .coverImg {
                    width: 100%;
                    position: relative;
                    z-index: 10;
                    opacity: 1;
                }
                .vHolder {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    z-index: 1;
                    opacity: 0;
                }
                .playBtn {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 85px;
                    height: 85px;
                    background-color: #ffffff;
                    box-shadow: 0 10px 20px 0 rgba(80, 86, 133, 0.21);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 20;
                    cursor: pointer;
                    .playIcon {
                        width: 18px;
                        height: 24px;
                    }
                }
            }
        }
        &__rightBlock {
            width: 50%;
            padding-left: 10%;
            .title {
                font-family: $decoFont;
                font-size: 40px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: normal;
                color: $dark;
                margin-bottom: 20px;
                position: relative;
                z-index: 1;
                &::before {
                    content: '';
                    width: 82px;
                    height: 84px;
                    background-color: rgba(249, 230, 239, 0.7);
                    position: absolute;
                    left: -9%;
                    top: -50%;
                    z-index: -1;
                }
            }
            .para {
                font-family: $mainFont;
                font-size: 16px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.63;
                letter-spacing: normal;
                color: $gray;
                margin-bottom: 30px;
            }
        }
    }
    &__infoHolder {
        width: 100%;
        padding: 0px 9.305555% 120px;
        border-bottom: 1px solid $whisper;
        display: flex;
        justify-content: space-between;
        &__block {
            display: flex;
            .iconBlock {
                width: 60px;
                height: 60px;
                background-color: #f3f4ff;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .textBlock {
                margin-left: 15px;
                .numPara {
                    font-family: $mainFont;
                    font-size: 22px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.82;
                    letter-spacing: normal;
                    color: $dark;
                }
                .infoPara {
                    font-family: $mainFont;
                    font-size: 14px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1;
                    letter-spacing: normal;
                    color: $gray;
                }
            }
        }
    }
}

// firstFashionSection
.firstFashionSection {
    width: 100%;
    background-image: $bgColor;
    padding-top: 83px;
    padding-bottom: 107px;
    border-bottom: 1px solid $whisper;
    &__holder {
        width: 100%;
        padding: 43px 9.305555%;
        display: flex;
        &__block {
            width: 50%;
            display: flex;
            align-items: center;
            &:nth-child(odd) {
                padding-right: 5.25%;
            }
            &:nth-child(even) {
                padding-left: 5.25%;
            }
            .title {
                font-family: $decoFont;
                font-size: 40px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: normal;
                color: $dark;
                margin-bottom: 20px;
                margin-top: 30px;
                position: relative;
                z-index: 1;
                &::before {
                    content: '';
                    width: 82px;
                    height: 84px;
                    background-color: rgba(249, 230, 239, 0.7);
                    position: absolute;
                    left: -9%;
                    top: -50%;
                    z-index: -1;
                }
            }
            .para {
                font-family: $mainFont;
                font-size: 16px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.63;
                letter-spacing: normal;
                color: $gray;
                margin-bottom: 30px;
            }
            .textHolder {

            }
            .imgHolder {
                width: 100%;
                &--item {
                    width: 100%;
                }
            }
        }
    }
}

// TOKEN SECTION 
.tokenSection {
    width: 100%;
    background-image: $bgColor;
    padding-top: 131px;
    padding-bottom: 126px;
    border-bottom: 1px solid $whisper;
    &__modelHolder {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 9.305555% 100px;
        border-bottom: 1px solid $whisper;
        &__block {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .textBlock {
                width: 54.3611%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 auto 92px;
                .title {
                    font-family: $decoFont;
                    font-size: 40px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1;
                    letter-spacing: normal;
                    color: $dark;
                    margin-bottom: 20px;
                    margin-top: 30px;
                    position: relative;
                    z-index: 1;
                    &::before {
                        content: '';
                        width: 82px;
                        height: 84px;
                        background-color: $titanWhite;
                        position: absolute;
                        left: -9%;
                        top: -50%;
                        z-index: -1;
                    }
                }
                .para {
                    font-family: $mainFont;
                    font-size: 16px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.63;
                    letter-spacing: normal;
                    color: $gray;
                    text-align: center;
                    margin-bottom: 30px;
                }
            }
            .infoBlock {
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .imgHolder {
                    width: auto;
                    margin-bottom: 28px;
                }
                .title {
                    font-family: $mainFont;
                    font-size: 20px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.25;
                    letter-spacing: normal;
                    text-align: center;
                    color: $dark;
                    margin-bottom: 20px;
                }
                .para {
                    font-family: $mainFont;
                    font-size: 16px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.63;
                    letter-spacing: normal;
                    text-align: center;
                    color: $gray;
                }
            }
        }
    }
    &__benefitsHolder {
        width: 100%;
        display: flex;
        padding: 120px 9.305555%;
        border-bottom: 1px solid $whisper;
        &__leftBlock {
            width: 40%;
            .title {
                font-family: $decoFont;
                font-size: 42px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.14;
                letter-spacing: normal;
                color: $dark;
                margin-bottom: 20px;
                margin-top: 30px;
                position: relative;
                z-index: 1;
                &::before {
                    content: '';
                    width: 82px;
                    height: 84px;
                    background-color: $amour;
                    position: absolute;
                    left: -9%;
                    top: -50%;
                    z-index: -1;
                }
            }
            .para {
                font-family: $mainFont;
                font-size: 16px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.63;
                letter-spacing: normal;
                color: $gray;
                margin-bottom: 30px;
            }
        }
        &__rightBlock {
            width: 60%;
            .benefitsTokenHolder {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                &__block {
                    width: 40%;
                    display: flex;
                    .iconBlock {
                        width: 60px;
                        height: 60px;
                        background-color: #f3f4ff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 20px;
                    }
                    .textBlock {
                        .title {
                            font-family: $mainFont;
                            font-size: 18px;
                            font-weight: 600;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: $dark;
                        }
                    }
                }
            }
        }
    }
}

// FOOTER 
.footer {
    &__holder {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding: 80px 9.305555% 91px;
        border-top: 1px solid $whisper;
        background-image: $bgColor;
        @include responsive(1024px)
        {
            flex-wrap: wrap;
        }
        &__infoBlock {
            width: 30%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            @include responsive(1024px)
            {
                width: 60%;
            }
            @include responsive(767px)
            {
                width: 100%;
            }
            .nameLogo {
                position: relative;
                &::before {
                    content: '';
                    width: 40px;
                    height: 40px;
                    background-color: $remy;
                    position: absolute;
                    left: -18%;
                    top: 1%;
                }
                img {
                    position: relative;
                    width: 120px;
                    height: 29px;
                    margin-bottom: 39px;
                }
            }
            .para {
                font-family: $mainFont;
                    font-size: 16px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.63;
                    letter-spacing: normal;
                    color: $gray;
                }
                .copy {
                    font-family: $mainFont;
                    font-size: 16px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.63;
                    letter-spacing: normal;
                    color: $gray;
                    margin-top: 49px;
                }
        }
        &__navigationBlock {
            width: 30%;
            align-items: center;
            display: flex;
            flex-direction: column;
            @include responsive(1024px)
            {
                width: 40%;
            }
            @include responsive(767px)
            {
                width: 100%;
                align-items: flex-start;
                margin-top: 40px;
            }
            .name {
                font-family: $mainFont;
                font-size: 18px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.22;
                letter-spacing: normal;
                color: $dark;
                position: relative;
                z-index: 1;
                margin-bottom: 20px;
                &::before {
                    content: '';
                    width: 27px;
                    height: 27px;
                    background-color: $titanWhite;
                    position: absolute;
                    left: -13%;
                    top: 10%;
                    z-index: -1;
                }

            }
            .listBlock {
                &--item {
                    font-family: $mainFont;
                    font-size: 16px;
                    font-weight: 600;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: $cerise;
                    margin-bottom: 9px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover {
                        color: $royalBlue;
                    }
                }
            }
            
        }
        &__connectBlock {
            width: 36%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            @include responsive(1024px)
            {
                width: 100%;
                margin-top: 67px;
            }
            .name {
                font-family: $mainFont;
                font-size: 18px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.22;
                letter-spacing: normal;
                color: $dark;
                position: relative;
                z-index: 1;
                margin-bottom: 23px;
                &::before {
                    content: '';
                    width: 27px;
                    height: 27px;
                    background-color: $titanWhite;
                    position: absolute;
                    left: -10%;
                    top: 10%;
                    z-index: -1;
                }
            }
            .connectLinkHolder {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 22px;
                @include responsive(1024px)
                {
                    flex-direction: row;
                    flex-wrap: wrap;
                }
                @include responsive(767px)
                {
                    flex-direction: column;
                    flex-wrap: nowrap;
                }
                &__block {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 22px;
                    @include responsive(1024px)
                    {
                        flex-direction: row;
                        flex-wrap: wrap;
                        width: 50%;
                    }
                    @include responsive(767px)
                    {
                        width: 100%;
                        margin-bottom: 22px;
                    }
                    &--link {
                        width: 20%;
                        height: 75px;
                        border-radius: 2px;
                        background-color: $titanWhite;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 11px;
                        box-shadow: 0px 0px 0px 0px $royalBlue;
                        transition: all 0.3s ease;
                        &:first-child {
                            margin-left: 0;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                        @include responsive(1200px)
                        {
                            width: 18%;
                            height: 60px;
                        }
                        @include responsive(1024px)
                        {
                            width: 20%;
                            height: 68px;
                            margin-left: 0;
                            margin-right: 5%;
                            &:first-child {
                                margin-left: 0;
                            }
                            &:last-child {
                                margin-right: 5%;
                            }
                        }
                        @include responsive(767px)
                        {
                            width: 20%;
                            margin-right: 6.333%;
                            &:last-child {
                                margin-right: 0%;
                            }
                        }
                        img {
                            transform: scale(1);
                            transition: all 0.3s ease;
                        }
                        &:hover {
                            box-shadow: 1px 1px 1px 1px $royalBlue;
                            img {
                                transform: scale(1.1);
                            }
                        }

                    }
                }

            }
        }
    }
}